// Fonts
$primary-font: "Rubik", sans-serif;
$secondary-font: "Nabla", cursive;

$font-weight-regular: 400;
$font-weight-bold: 700;

// Colors
$background-color: #eef1ff;

$primary-color: #b1b2ff;
$secondary-color: #ffdba4;
$tertiary-color: #8cc0de;

$danger-color: #ffb3b3;
$success-color: #90c8ac;

$dark-color: #898aa6;
$light-color: #fafafa;
