@use "vars" as *;

.container {
  border-radius: 4px;
  overflow: hidden;
}

.spaces {
  padding: 16px;
}

.header {
  @extend .spaces;
  text-align: center;
  background: rgba($primary-color, 0.8);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  column-gap: 16px;

  h1 {
    font-family: "Nabla", cursive;
  }
}

.content {
  @extend .spaces;
  background: rgba($background-color, 0.8);
  backdrop-filter: blur(8px);
}
